{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

  <div class="row">
    <div class="col-md-6">
      <form role="form" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
          <label for="sentence">Type a sentence. (Do it!)</label>
          <textarea class="form-control" name="sentence" id="sentence" rows="6">{{ sentence }}</textarea>
        </fieldset>
        <fieldset>
          <button type="submit" class="btn btn-primary">Tokenize and Tag Sentence</button>
        </fieldset>
      </form>
    </div>

    <div class="col-md-6">
      <div id="output">
        {{ translated }}
      </div>
    </div>

    <img src="{% static 'images/lang-logo.png'%}">
  </div>

{% endblock %}
